/* google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* shared Style */
body{
    font-family: "Work Sans", sans-serif;
}
.display-flex{
    display: flex;
}
.bg-light{
     background: rgba(255, 144, 14, 0.1);
    
}
.dark-01{
color: #131313;
}
.dark-02{
    color: #424242;

}
.dark-03{
color: #727272;
}

/* header Style */

.bannar , .navbar{
    max-width: 1440px;
}


/* navbar style */
.navbar{
    justify-content: space-between;
    margin: 0 auto;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}



                                        